/* モバイルファーストで作成する。 */

/* 全体の大まかな構成 */
a {
    text-decoration: none !important; /* Bootstrapのスタイルを上書き */
  }
  ul,
  li {
    list-style: none;
  }
  
  main {
    background-color: #89c3f0;
    height: 1500px;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 50px; /*ナビゲーションバーの下にメインのコンテンツが配置されるようにする*/
  }
  
  /* .main {
    margin: auto;
  } */
  .footer {
    background-color: #f7b7e6;
    height: 200px;
    display: flex;
  }
  .footer div {
    margin: auto;
  }

  /* ヘッダー */
.header {
    background-color: rgb(169, 248, 185);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  .header__inner {
    padding: 0 20px; /*左右の余白確保*/
    display: flex; /*ロゴとハンバーガーメニューを横に並べる*/
    align-items: center;
    justify-content: space-between;
    height: inherit; /*親要素の高さを継承*/
    position: relative;
  }
  
  /* ヘッダーのロゴ部分 */
  .header__title {
    width: 100px;
    height: auto;
  }

  /* 960px以上=PCで適応 */
  @media screen and (min-width: 960px) {
    .header__title {
      width: 120px;
    }
  }
  
  .header__title img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* ヘッダーのナビ部分 */
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%); 
    background-color: #fff; /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
    transition: ease .4s; /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
  }

  /* PC画面上ではナビゲーションメニューが横並びになる */
  @media screen and (min-width: 960px) {
    .header__nav {
      position: static;
      transform: initial;
      background-color: inherit;
      height: inherit;
      display: flex;
      justify-content: end;
      width: 50%;
    }
  }

  /* ハンバーガーメニュー */
  .header__hamburger {
    width: 48px;
    height: 100%;
  }
  
  .hamburger {
    background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
    z-index: 9999;
  }

  /* ハンバーガーメニューの線 */
.hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
    display: block;
  }
  
  .hamburger span:nth-child(1) {
    top: 0;
  }
  
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  
  .hamburger span:nth-child(3) {
    top: 0;
  }

  /* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(50%);
}

/* 真ん中の線を消して×の形にする */
.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}

@media screen and (min-width: 960px) {
    .nav__items {
      width: 100%;
      display: flex;
      align-items: center;
      height: initial;
      justify-content: space-between;
    }
  }

.nav-items {
    padding-top: 250px;
    padding-bottom: 200px;
    padding-left: 70px;
  }

  @media screen and (min-width: 960px) {
    .nav-items {
       padding-top: inherit;
       padding-bottom: inherit;
      }
    }
  
  /* ナビのリンク */
  .nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: left;
    font-size: 15px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 960px) {
    .nav-items__item a {
       margin-bottom: 0;
       margin-top: 10px; /*PC画面のナビリンクのレイアウト*/
      }
    }
  
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }

  @media screen and (min-width: 960px) {
    /*PC時非表示にする*/
    .hamburger {
      display: none;
    }
  }

/*ログインとか新規登録とかのユーザー設定画面*/
.container-user{
  padding-top: 60px;
  font-size: 14px;
  padding-left: 20px;
}


/***** スワイパ全体設定(開始) *****/
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
:root {
--easing: cubic-bezier(.2, 1, .2, 1);
--transition: .8s var(--easing);
--color-base: #f8f8f8;
--color-gray: #ddd;
--color-theme: #f5695f;
--color-theme-darken: #f12617;
--box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #fff;
--box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, .08), -1rem -1rem 1.5rem #fff;
--box-shadow-inset: inset .8rem .8rem 1.2rem rgba(0, 0, 0, .05), inset -.8rem -.8rem 1.2rem #fff;
--box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#fff,.2);
}

html {
/* font-family: "Spartan", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif; */
font-size: 90%;
line-height: 1.8;
height: 100%;
word-break: break-word;
color: #333;
background-color: var(--color-base);
-webkit-appearance: none;
-webkit-tap-highlight-color: transparent;
}

body {
font-size: 1.6rem;
margin-top: 30px auto; /*ナビゲーションバーからなんピクセルかずらしたい時はこれ*/
margin-bottom: 0;
}

*,
*::before,
*::after {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

::-moz-selection {
color: #fff;
background: var(--color-theme);
}

::selection {
color: #fff;
background: var(--color-theme);
}

/*メイン画像をナビバーの下にずらした*/
.img-cover {
border: 0;


}

figure {
margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: 1.6rem;
margin: 0;
padding: 0;
}

main {
display: block;
}

.l-inner {
position: relative;
-webkit-box-sizing: content-box;
        box-sizing: content-box;
max-width: 1200px;
margin: 0 auto;
padding: 0 0rem;
}

.l-section .l-inner {
padding-top: 0rem; /*カードを上の方に配置*/
padding-bottom: 0rem;
}

[class*=swiper]:focus {
outline: none;
}

.slide-media,
.thumb-media {
position: relative;
overflow: hidden;
}
.slide-media img,
.thumb-media img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 80%; /*スライド画像の高さ調整*/
-o-object-fit: cover;
    object-fit: cover;
}
/***** メインビジュアルのスライダー(開始) *****/
.mv01 {
margin-bottom: 0rem; /*カードスライダーを上の方に配置できる*/
}
.mv01 .l-inner {
padding-bottom: 0;
}
.mv01 .swiper-fade .swiper-slide {
-webkit-transition-property: opacity, -webkit-transform !important;
transition-property: opacity, -webkit-transform !important;
transition-property: opacity, transform !important;
transition-property: opacity, transform, -webkit-transform !important;
pointer-events: none;
}
.mv01 .swiper-fade .swiper-slide-active {
pointer-events: auto;
}

.mv01 .slide-media {
height: 800px; /*高さ変更したい時*/
}
.mv01 .slide-media img {
-webkit-transition: 7s 1s ease-out;
transition: 7s 1s ease-out;
}
.mv01 .slide-title {
font-size: 4rem; /*写真サブタイトルのフォントサイズ*/
font-weight: normal;
line-height: 1.6;
position: absolute;
right: 8rem;
bottom: 30%; /*サブタイトルの位置調整*/
margin-left: 16rem;
text-align: right;
color: #fff;
}
.mv01 .swiper-slide[class*=-active] .slide-media img {
-webkit-transition-delay: 0s;
        transition-delay: 0s;
-webkit-transform: scale(1.05);
        transform: scale(1.05);
}
.mv01 .swiper-slide[class*=-active] .slide-title {
-webkit-animation: mv01-fadeIn 2s 0.5s var(--easing) both;
        animation: mv01-fadeIn 2s 0.5s var(--easing) both;
}

@-webkit-keyframes mv01-fadeIn {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-filter: blur(300px);
          filter: blur(300px);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}
}

@keyframes mv01-fadeIn {
0% {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  -webkit-filter: blur(300px);
          filter: blur(300px);
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}
}

@media only screen and (max-width: 1024px) {
html {
  -webkit-text-size-adjust: 100%;
}
.l-inner {
  padding: 0 4rem;
}
.pc {
  display: none !important;
}
.mv01 {
  margin-bottom: 8rem;
}
.mv01 .slide-media {
  height: max(70vh, 70vw);
}
}
@media only screen and (max-width: 599px) {
html {
  font-size: 50%;
}
.pc-tab {
  display: none !important;
}
.mv01 .slide-title {
  font-size: 2.8rem;
  right: 4rem;
  margin-left: 6rem;
}
}
@media only screen and (min-width: 1025px) {
.tab-sp {
  display: none !important;
}
.swiper-button-prev::before, .swiper-button-next::before {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev:hover::before, .swiper-button-next:hover::before {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
}
@media only screen and (min-width: 600px) {
.sp {
  display: none !important;
}
}
/***** メインビジュアルのスライダー(終了) *****/


/***** カードタイプのカルーセル(開始) *****/
.reco-title{
  text-indent: 100px; /*タイトルを少し右へずらす*/
}

.swiper-button-prev, .swiper-button-next {
  /*左右のボタン*/ 
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.swiper-button-prev::before, .swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.swiper-button-prev::after, .swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.card01 .swiper-area {
  position: relative;
}
.card01 .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 1.2rem 0.8rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.2rem;
  text-align: center;
}
.card01 .swiper-pagination-bullet {
  width: 1.6rem;
  height: 3px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  vertical-align: top;
  background-color: var(--color-gray);
}
.card01 .swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--color-theme);
}
.card01 .swiper-button-prev, .card01 .swiper-button-next {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
}
.card01 .swiper-button-prev {
  right: calc(100% + 2.4rem);
}
.card01 .swiper-button-next {
  left: calc(100% + 2.4rem);
}
.card01 .slide-media {
  padding-top: 62.5%; 
  border-radius: 4px; /*カードの角の丸み具合*/

}
.card01 .slide-media img {
  height: calc(100% + 16px);
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.card01 .slide-content {
  padding: 0rem 0;
  color: darkblue; /*カードのテキストカラー*/
}

.p-category{
  font-size: 1.3rem; /*ジャンルのテキストサイズ*/
}

.card01 .slide-date {
  font-size: 1.2rem;
  line-height: 1;
  display: block;
  color: var(--color-theme);
}
.card01 .slide-title {
  line-height: 1.6;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3.2em;
  margin-top: 1.6rem;
}




@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
  .l-inner {
    padding: 0 4rem;
  }
  .pc {
    display: none !important;
  }
  .card01 .swiper-button-prev::before, .card01 .swiper-button-next::before {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: var(--box-shadow-dark);
            box-shadow: var(--box-shadow-dark);
  }
  .card01 .swiper-button-prev::after, .card01 .swiper-button-next::after {
    border-color: #fff;
  }
  .card01 .swiper-button-prev {
    right: calc(100% - 3.2rem);
  }
  .card01 .swiper-button-next {
    left: calc(100% - 3.2rem);
  }
}

@media only screen and (max-width: 599px) {
  html {
    font-size: 50%;
  }
  .pc-tab {
    display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  .tab-sp {
    display: none !important;
  }
  .swiper-button-prev::before, .swiper-button-next::before {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .swiper-button-prev:hover::before, .swiper-button-next:hover::before {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .card01 .slide {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card01 .slide img {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
  .card01 .slide:hover {
    -webkit-transform: translateY(-16px);
            transform: translateY(-16px);
  }
  .card01 .slide:hover img {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media only screen and (min-width: 600px) {
  .sp {
    display: none !important;
  }
}
/***** カードタイプのカルーセル(終了) *****/



/***** スワイパー(終了) *****/

/*店舗詳細画面*/
.a_detail{
  text-align: center;
}

.store-h1{
  padding-top: 20px;

  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-item img {
  height: 400px; /* 写真の高さ */
  object-fit: cover; /* 画像のアスペクト比を維持しながら、指定したサイズにフィットさせる */
  display: block; /* 画像をブロックレベル要素にする */
  margin: 0 auto; /* 画像を中央に配置する */
}

/* 960px以上=PCで適応 */
@media screen and (min-width: 960px) {
  .carousel-control-prev{
    left: 30% !important; /* 左ボタンの位置を調整 */
  }
  
  .carousel-control-next {
    right: 30% !important; /* 右ボタンの位置を調整 */
  }
}

/* カルーセルのナビゲーションボタンのスタイルを変更 */
.carousel-control-prev, .carousel-control-next {
  width: auto !important; /* ボタンの幅を自動に設定 */
  height: auto !important; /* ボタンの高さを自動に設定 */
  font-size: 50px;
}

/*店舗詳細*/
@media screen and (min-width: 960px) {
  .a_detail{
    padding:0 200px !important
  }
}


.a_detail{
  font-size: 14px;
  padding:0 30px
}
.store-info{
  height: 300px;
  margin-top: 30px;
}

.desc{
  text-align: left;
  padding: 20px; 
}

