{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block title %}サインアップ|NAGOYAMESHI{% endblock %}


{% block active_signup %}active{% endblock %}

{% block contents %}
<div class="container-user">
    <h1>サインアップ</h1>
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}

        <div class="mb-4 col-4">
            {% bootstrap_form form %}
            
        </div>
        <!-- redirect_field_valueにはリダイレクト先のURLが、格納される(ユーザーがサインアップページにアクセスする前に特定のページを閲覧していた場合、そのページのURLが格納される。)-->
        <!-- redirect_field_nameにはredirect_field_valueに対応するフィールドの名前(通常はnext)-->
        {% if redirect_field_value %}  <!--もしユーザーがサインアップ前に特定のページを閲覧していたら-->
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/> <!--valueにそのページのリンクを保存しておく。-->
        {% endif %}

        <button class="btn btn-primary" type="submit">登録</button>
    </form>
</div>
{% endblock %}